/* Google Fonts
 */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body
{
  max-width: 500px;
}

a.logo
{
  margin-bottom: 0px;
}

p.subtitle
{
  margin-top: 0px;
}

h1
{
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2rem;
}

img.image
{
  width: 500px;
}

h2
{
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.5rem;
}

p
{
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
  text-align: justify;
}

a
{
  color: inherit;
  text-decoration: none;
} 

a:hover
{
  color: gold;
}
